body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.25;
  font-size: min(5vw, 5vh);
  -webkit-font-smoothing: antialiased;
}

.Stage {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: black;

  &--player {
    position: relative;
    flex: 2;
  }

  &--display {
    flex: 1;
    backdrop-filter: blur(1em);
  }

  &--indicator {
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    padding: 0.25em;
    width: 0.75em;
    height: 0.75em;
    mix-blend-mode: difference;

    svg {
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity 200ms;
    }
  }
}

.Video {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  object-fit: cover;
  display: block;
  // Avoid 1px white line in some configurations
  transform: scale(1.005);
}

.Mirror {
  transform: scale(1, -1);
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  object-fit: cover;
  display: block;
  top: 100%;
  overflow: hidden;
}

.Video,
.Mirror {
  filter: hue-rotate(180deg);
}

.Subtitles {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  pointer-events: none;
  text-align: center;
  color: white;
  padding: 5em 1em 1em 1em;
  mix-blend-mode: difference;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 99;
}

.Button {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: min(5vw, 5vh);
  background-color: transparent;
  border: 0;
  color: white;
  cursor: pointer;
  padding: 2em;
}

.Overlay {
  backdrop-filter: invert(1);
}
